*,*::before,*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

body {
    display: flex;
    flex-direction: column;
}

.header {
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    padding: 16px;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
}

.header ul {
    display: flex;
    gap: 16px;
}

.header a {
    color: #E5E7EB;
}