*,*::before,*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Helvetica", sans-serif;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

body {
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 16px;
}

.header, .c-1 {
    background-color: #1F2937;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: #F9FAF8;
}

.header ul {
    display: flex;
    gap: 16px;
}

.header a {
    color: #E5E7EB;
}

.c-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
    padding: 32px 400px;
}

.title-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
}

.title {
    font-size: 48px;
    font-weight: bold;
    color: #F9FAF8;
}

.sub-title {
    font-size: 18px;
    color: #E5E7EB;
}

.title-box a {
    font-weight: bold;
    background-color: #3882F6;
    color: #F9FAF8;
    border-radius: 5px;
    padding: 8px 16px;
}

.c-1 img {
    width: 300px;
}

.c-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
    padding: 32px 190px;
}

.info-title {
    font-size: 36px;
    font-weight: bold;
    color: #1F2937;
}

.info-climb {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
    width: 150px;
    text-align: center;
    color: #1F2937;
}

.item img {
    width: 150px;
    border: 4px solid #3882F6;
    border-radius: 10px;
}



.c-3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 64px 400px;
    background-color: #E5E7EB;
}

.quote {
    font-size: 36px;
    font-weight: 100;
    font-style: italic;
}

.quotee {
    align-self: flex-end;
    font-weight: bold;
}

.c-4 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
    margin: 64px 500px;
    padding: 32px 0;
    background-color: #3882F6;
    border-radius: 5px;
}

.call-title {
    font-size: 20px;
    font-weight: bold;
    color: #F9FAF8;
}

.call-sub-text {
    font-size: 14px;
    color:#E5E7EB;
}

.c-4 a {
    font-size: 14px;
    font-weight: bold;
    color:#F9FAF8;
    padding: 8px 16px;
    border: 2px solid #F9FAF8;
    border-radius: 8px;
}

.footer {
    background-color: #1F2937;
    color: #E5E7EB;
    text-align: center;
    padding: 32px;
    font-size: 12px;
    font-weight: 100;
}